:root {
    --cor-de-fundo: #cf95ff;
    --cor-cabecalho: #cf95ff;
    --fundo-menu: #f53acd;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-de-fundo);
}

.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-menu-item {
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: nome;
    color: black;
    text-align: center;
    border-top: 1px solid;
}